.navbar {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-left {
    font-size: 30px;
}

.navbar-left:hover {
    cursor: pointer;
}

.navbar-right {
    margin-left: auto;
    font-size: 18px;
}

.navbar-right a {
    text-decoration: none;
    color: #191414;
}

.navbar-right a:visited {
    color: inherit;
}

.navbar-right a:hover {
    color: #1DB954;
}

.navbar-right a:active {
    color: #1DB954;
    text-decoration: underline;
}
