.navbar {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar img {
    width: 170px;
    height: auto;
    padding: 10px 0px 0px 10px;
}

.navbar-signedin {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-signedin img {
    width: 170px;
    height: auto;
    padding: 10px 0px 0px 10px;
}

.navbar-left:hover {
    cursor: pointer;
}

.navbar-center {
    cursor: pointer;
}

.navbar-right {
    margin-left: auto;
    font-size: 18px;
}

.navbar-right a {
    text-decoration: none;
    color: #191414;
}

.navbar-right a:visited {
    color: inherit;
}

.navbar-right a:hover {
    color: #1DB954;
}

.navbar-right a:active {
    color: #1DB954;
    text-decoration: underline;
}