.navbar {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar img {
    width: 170px;
    height: auto;
    padding: 10px 0px 0px 10px;
}

.navbar-signedin {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-signedin img {
    width: 170px;
    height: auto;
    padding: 10px 0px 0px 10px;
}

.navbar-left:hover {
    cursor: pointer;
}

.navbar-center {
    cursor: pointer;
}

.navbar-right {
    margin-left: auto;
    font-size: 18px;
}

.navbar-right a {
    text-decoration: none;
    color: #191414;
}

.navbar-right a:visited {
    color: inherit;
}

.navbar-right a:hover {
    color: #1DB954;
}

.navbar-right a:active {
    color: #1DB954;
    text-decoration: underline;
}

.toggle-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin-top: 10px;
    text-decoration: none;
    background-color: white;
    color: #1DB954;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-color: #191414;
    width: 30vh;
}

#yourArtistsBtn {
    border-radius: 5px 0px 0px 5px;
    margin-right: -2px;
}

#overlappingArtistsBtn {
    border-radius: 0px 5px 5px 0px;
    margin-left: -2px;
}

.active {
    background-color: #1DB954;
    color: white;
}