.add-friend {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-color: #000000;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 250px;
    position: fixed;
    top: 230px; /* You can adjust the top position if needed */
    right: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.friend-heading {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    color: #1DB954;
}

.submit-button {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.friend-input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}